NODE_ENV=development
PORT=3001
HOST=127.0.0.1
API_PREFIX=api

JWT_SECRET=devdevdev

CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=postgresql://classmate:classmate@127.0.0.1:5432/classmate?schema=public
